/* FONT FAMILIES */

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/* CSS */

/* STYLING USED THROUGHOUT THE ENTIRE WEB PAGE IS LISTED FIRST */

html{
  font-family: "Open Sans";
  font-size: 22px;
}

@media only screen and (max-width: 1800px){
  html{
    font-size: 18px;
  }
}
@media only screen and (max-width: 1400px){
  html{
    font-size: 14px;
  }
}

p{
  line-height: 1.5;
}

a{
  font-family: "Roboto Slab";
  color: hsl(180, 100%, 25%);
  transition: all 1s ease-out;
}

a:hover{
  color: hsl(0, 340%, 25%);
}

.section{
  display: flex;
  width: 100%;
  box-shadow: 0 -1px 4px;
  background-color: hsl(0, 0%, 70%);
}

.banner{
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner img{
  width: 100%;
  border: 2px solid hsl(180, 100%, 25%);
}

@media only screen and (max-width: 1024px){
  .banner img{
    border: none;
  }
}

.supporting{
  min-width: 40%;
  max-width: 40%;
  margin-top: 2rem;
  margin-right: 1.5rem;
}

.button,
.link{
  font-family: "Roboto Slab";
}

.heading{
  width: 100%;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
}

@media only screen and (max-width: 1024px){
  .section{
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .supporting{
    min-width: 100%;
  }

  .content{
    width: 100%;
  }

  .banner{
    margin: 0;
  }
}


/* HEADER SECTION */
#header.section{
  flex-direction: row !important;
  height: 4rem;
  align-items: center;
}

#logo{
  width: 2.5rem;
  margin-left: 1.5rem;
  box-shadow: 2px 2px 5px hsl(0, 340%, 25%);
}

#title{
  display: flex;
  font-family: "Roboto Slab";
  font-size: 1.8rem;
  height: 2rem;
  margin-left: 5px;
}

#title p:first-child{
  font-weight: 700;
  color: hsl(0, 5%, 35%)
}

#title p:last-child{
  color: hsl(0, 340%, 25%);
}

#header nav{
  margin-left: auto;
  margin-right: 1rem;
}

#header nav ul{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.8rem 0rem;
  border-radius: 10px;
  transition: all 1.3s ease-out;
}

#header nav ul:hover{
  background-color: hsl(0, 0%, 65%);
  box-shadow: -3px 5px 10px;
}

#header nav ul li{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: hsl(0, 5%, 35%);
}

#mobile-menu{
  display: none;
}

@media only screen and (max-width: 1024px){
  #header.section{
    height: 4.57rem;
  }
}

@media only screen and (max-width: 700px){

  #desktop-menu,
  #title{
    display: none;

  }
  #mobile-menu{
    display: block;
    width: 50%;
  }

  #mobile-menu ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #mobile-menu ul li{
  width: 10rem;
  height: inherit;
  }
}
/***/



/*  LEARN SECTION */
#learn.section{
  justify-content: space-between;
  align-items: center;
}

#learn .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: auto;
  text-align: center;
}

#learn h1{
  font-size: 3.5rem;
  font-weight: 700;
}

#learn .content p{
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

#learn .button{
  width: 20rem;
  height: 7rem;
  font-size: 2rem;
  border: none;
  background-color: hsl(180, 100%, 25%);
  border-radius: 10px;
  transition: all 1s ease-out;
}

#learn .button:hover{
  transform: scale(1.4);
  background-color: hsl(180, 100%, 15%);
  color: hsl(0, 34%, 25%);
  box-shadow: 0 0 15px 5px;
}

#learn .button a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1800px){
  #learn .button:hover{
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1024px){

  #learn .banner{
    width: 100%;
    margin: 0;
  }

  #learn .content h1{
    width: 100%;
    font-size: 2.8rem;
    margin: 2.29rem 1.14rem;
  }

  #learn .content p{
    margin: 0 0 1.71rem;
  }

  #learn .content .button{
    margin-bottom: 2.29rem;
  }

  #learn .button:hover{
    transform: scale(1.1);
  }
}
/***/



#campus.section,
#thesis.section{
  background-color: hsl(0, 0%, 100%);
}



.panel{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 0.1rem;
  border-top: 1px solid hsl(180, 100%, 25%);
  border-bottom: 1px solid hsl(180, 100%, 25%);
  border-radius: 10px;
  transition: background-color 1.0s ease-out 0.1s, color 1.2s ease-out 0.1s;
              transform 1.7s ease-out;
              box-shadow 1.4s ease-in-out;
}

.panel:hover{
  background-color: hsl(180, 100%, 25%);
  box-shadow: -3px 5px 10px;
  z-index = 10;
  color: white;
}

.panel a{
  transition: all 1s ease-out 0.2s;
}

.panel:hover a{
  color: white;
  font-size: 130%;
}

/*Selects the divs containing the image for each panel*/
.panel div:first-child{
  width: 35%;
}

.panel img{
  width: 100%;
  height: auto;
  margin: 1rem;
}

.panel .mobile-image{
  display: none;
}

.supporting .panel h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/*Selects the divs containing text in each panel*/
.panel div:last-child{
  margin-left: 2.5rem;
  font-size: 1.2rem;
  max-width: 58%;
}

.source{
  display: block;
  margin-top: 2rem;
  font-style: italic;
}

@media only screen and (max-width: 1024px){

  .panel{
    flex-direction: column;
  }

  .panel .desktop-image{
    display: none;
  }

  .panel .mobile-image{
    display: block;
  }

  #campus .panel div:first-child{
    position: relative;
    right: 1rem;
    margin: 1.14rem auto;
    width: 90%;
  }

  .supporting .panel h3{
    font-size: 2.3rem;
  }

  .panel div:last-child{
    margin: 2.29rem auto;
  }
}



/* CAMPUS SECTION */
#campus.section{
  background-color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 700px){
  #campus .banner{
    display: none;
  }
}
/***/

#courses.section .heading,
#thesis.section .heading{
  text-align: center;
}



/* COURSES SECTION */
#courses.section{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 90%;
  margin: 1rem 4.5rem;
  background-color: hsl(0, 340%, 25%);
}

.course{
  width: 33%;
  background-color: hsl(0, 0%, 100%);
  margin: 2rem 1rem;
  border-radius: 15px;
  transition: all 1s ease-out 0.2s;
}

.course:hover{
  color: white;
  background-color: hsl(180, 100%, 25%);
  box-shadow: 0px 0px 10px 3px;
  transform: scale(1.05);
}

.course img{
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.course h3{
  font-size: 1.8rem;
  text-align: center;
  margin: 1rem 0;
}

.course p{
  margin: 1rem 1rem;
}

@media only screen and (max-width: 700px){

  .row{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0
    margin-right: 0
  }

  #courses .row:first-child{
    margin-bottom: 0;
  }
  #courses .row:last-child{
    margin-top: 0;
  }

  .course div:first-child,
  .course .description p{
    display: none;
  }

  .course{
    width: 90%;
    padding: 1.14rem 0;
  }
}
/***/



/* THESIS SECTION */
#thesis.section{
  flex-direction: column;
}

#thesis .heading{
  width: 100%;
  margin: 2rem 0;
}

#content-container{
  display: flex;
}

#thesis .banner.content .heading{
  font-size: 2rem;
}

#thesis .content video{
  width: 100%;
  height: auto;
  border: 2px solid hsl(180, 100%, 25%);
}

#thesis .source{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1024px){
  #content-container{
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px){
  #content-container .supporting,
  #content-container .heading,
  #content-container p{
    display: none;
  }
}
/***/



/* FOOTER SECTION */

#footer.section{
  flex-direction: row !important;
  justify-content: space-between;
}

#footer p{
  margin: 1rem 1.5rem;
}

#terms-privacy{
  display: flex;
  margin-right: 1.5rem;
}

#terms-privacy p{
  margin: 1rem 1rem;
}
