/* FONT FAMILIES */

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u9mxLCGwR0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/* CSS */

html{
  font-family: "Open Sans";
  font-size: 18px;
}

p{
  line-height: 1.5;
  white-space: normal;
}

.section{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  border: 1px hsl(0, 340%, 25%) solid;
  background-color: hsl(0, 0%, 70%);
}

.banner{
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner img{
  width: 100%;
}

.supporting{
  min-width: 40%;
  max-width: 40%;
  margin-top: 2rem;
  margin-right: 1.5rem;
}

.button,
.link{
  font-family: "Roboto Slab";
}

.button{
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: hsl(180, 100%, 25%);
}

.source{
  display: block;
  margin-top: 2rem;
  font-style: italic;
}


/* HEADER SECTION */

#header.section{
  height: 4rem;
  align-items: center;

}

#logo{
  width: 2.5rem;
  margin-left: 1.5rem;
  box-shadow: 2px 2px 5px hsl(0, 340%, 25%);
}

#title{
  display: flex;
  font-family: "Roboto Slab";
  font-size: 1.8rem;
  height: 2rem;
  margin-left: 5px;
}

#title p:first-child{
  font-weight: 700;
  color: hsl(0, 5%, 35%)
}

#title p:last-child{
  color: hsl(0, 340%, 25%);
}

#header nav{
  margin-left: auto;
  margin-right: 1rem;
}

#header nav ul{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

#header nav ul li{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: hsl(0, 5%, 35%)
}


/*  LEARN SECTION */

#learn.section{
  justify-content: space-between;
  align-items: center;
}

#learn .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: auto;
  text-align: center;
}

#learn h1{
  font-size: 3.5rem;
  font-weight: 700;
}

#learn .content p{
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

#learn .content .button{
  width: 16rem;
  height: 3.5rem;
}


/* CAMPUS SECTION */

#campus.section{
  justify-content: space-between;
  background-color: white;
}

#campus .content h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0;
}

#campus .content p{
  width: 100%;
}

#campus .supporting{
  position: relative;
  bottom: 0.1rem;
}

#campus .panel{
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

#campus .panel:nth-child(odd){
  background-color: hsl(0, 0%, 70%);
}

/*Selects the divs containing the image for each panel*/
#campus .panel div:first-child{
  width: 35%;
  height: auto;
  margin: 1rem;
}

/*Selects the divs containing text in each panel*/
#campus .panel div:last-child{
  margin-left: 2.5rem;
  font-size: 1.2rem;
}

#campus .supporting .panel h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#campus .supporting .panel a{
  color: hsl(180, 100%, 25%);
}


/* BEGIN COURSES SECTION */

#courses.section{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#courses.section #heading{
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.row{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 1rem 4.5rem;
}

.course{
  width: 29.556rem;
  background-color: white;
  margin: 2rem 1rem;
}

.course img{
  height: auto;
}

.course h3{
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.course p{
  margin: 1rem 1rem;
}
